@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	@apply bg-custom-black text-custom-white;
}

.hover {
	@apply hover:scale-95 transition duration-300 ease-out;
}

input,
select,
textarea {
	@apply bg-gray-900 text-custom-white border-custom-white border rounded-md px-2 py-1 outline-none;
}

button:not(.cell):not(.drag) {
	@apply rounded-md px-4 py-2 hover outline-none;
}

.custom-range {
	@apply accent-custom-red-1;
}
